---
import Layout from "../layout/Layout.astro";
import portfolio from "../data/portfolio.json";
import { Image } from "astro:assets";
---

<Layout title="Portfolio">

    <section class="min-w-screen min-h-screen bg-gray-600 flex flex-col items-center">

        <h1 class="text-4xl py-6">Portfolio</h1>

        <div class="flex flex-col w-full">

            {
                portfolio.map((portfolio,index) => (

                    <div class={`w-full flex justify-center py-3`} style={{backgroundColor: portfolio.backgroundColor}}>

                        <div class={`${index % 2 === 0 ? "flex-col sm:flex-row" : "flex-col sm:flex-row-reverse" } flex max-w-[1200px] w-full`}>

                            <div class="flex flex-col justify-around p-2">
                                <h2 class="text-3xl">{portfolio.title}</h2>
                                <p>{portfolio.text}</p>
                                <div class="flex justify-center">
                                    {
                                        portfolio.icons.map((icon) => (
                                            <a href={icon.link} class="opacity-60 transition-all hover:opacity-100 hover:scale-105">
                                                <Image src={"/portfolio/"+icon.image} width={48} height={48} alt="icon"/>
                                            </a>
                                        ))
                                    }
                                </div>
                            </div>

                            <Image src={"/portfolio/"+portfolio.thumbnail} alt={portfolio.title} width={400} height={200} class="self-center"/>

                        </div>
                    </div>
                ))
            }
        </div>
    </section>
</Layout>