---
import Navigation from "../layout/components/Navigation.astro"

const { title } = Astro.props
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Vahisht.dev</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@700;800&family=Michroma&family=Titillium+Web:wght@700&family=Orbitron:wght@700&family=Rajdhani:wght@700&family=Righteous&family=Audiowide&family=Pixelify+Sans:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<style>
		@font-face {
			font-family: 'DeathStranded';
			src: url('/fonts/Death_Stranded.otf') format('opentype');
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}
	</style>
		<script data-goatcounter="https://vahisht.goatcounter.com/count"
				async src="//gc.zgo.at/count.js"></script>
	</head>

	<body class="flex flex-col w-full h-full overflow-x-hidden">

        <Navigation />
        
        <main class="w-full">
            <slot/>
        </main>

	</body>
</html>